@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
 
/* https://fonts.googleapis.com/css?family=Patua+One%7CPoiret+One%7CRaleway */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    font-family: 'Robot', sans-serif;
    background-color: #E8F3F8;
    font-weight: 100;
}

